.alert-video {
    background-color: #DAD8FF;
}

.svg-icon {
    width: 25px;
    height: 25px;
}
.vr{
    height: auto;
    border-left: 1px solid;
}
.about-teacher{
    position: relative;
}
.about-teacher-title{
    top: -20px;
    position: absolute;
    background-color: white;
}
.teacher-circle{
    border-radius: 50%;
    border: 2px solid #5654C7;
    height: 60px;
    width: 60px;
    box-shadow: 0px 0px 0px 5px rgb(245 247 253);
}
